.topheadContainer
{
    width: 100%;
    padding: 2px 20%;
    margin: 78px auto;
    text-align: left;
}
.imgSlider
{
    display: flex;
    flex-direction: column;
    gap: 36px;
    cursor: pointer;
}
.imageView
{
    width: 30rem;
    /* min-width: 18rem; */
    /* min-height: 9rem; */
}
.brandName
{
    cursor: pointer;
    font-family: montserrat-semibold,sans-serif!important;
    font-size: 18px!important;
    line-height: 17px!important;
    color: #4f5362;
    text-align: left;
}
.prodName
{
    margin-bottom: 2px;
    font-size: 14px;
    font-family: montserrat,sans-serif;
    line-height: 20px;
    color: rgba(0,0,0,.7);
    font-weight: 500;
    text-align: left;
}
.rating{
    width: 40px;
    height: 18px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    /* margin: 0 3px 0 5px; */
}
.tribeContainer {
    font-family: montserrat,sans-serif;
    font-size: 12px;
    margin-top: 4px;
    line-height: normal;
    cursor: pointer;
    padding: 16px 0;
    color: #333;
    border-top: 3px solid rgb(234, 232, 232);
    border-bottom: 3px solid rgb(234, 232, 232);
}

.colorName {
    font-size: 14px;
}
.colorLabel
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.multiColorBlockV3.active {
    height: 20px;
    width: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 4px, rgb(81, 204, 204) 0px 0px 4px 7px;
    padding: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
    overflow: hidden;
}

.slideimages img{
    border:1px solid #42a2a2;
}
.selectSize
{
    font-size: 12px;
    font-family: montserrat-bold,sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
}
.p-add-bag {
    gap: 5px;
    background-color: rgb(255, 216, 77);
    font-size: 15px;
    height: 65px;
    padding: 8px 8px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 168px;
    cursor: pointer;
    border-color: transparent;

}
.addButtons .p-add-bag .bag-icon {
    height: 20px;
    width: 20px;
}
.addButtons .p-add-bag span {
    color: rgb(48, 48, 48);
    padding-left: 8px;
    font-family: montserrat-semibold, sans-serif !important;
    font-size: 14px !important;
    line-height: 17px !important;
}
.aboutProduct{
    margin: 0 12px;
    padding: 0 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wishlistContainer{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(234, 232, 232);
}
.desc{
    width: 355px;
    height: fit-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
    .descChild
    {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        height:30px;
        display: flex;
        gap: 50%;
        padding: 3px;
    }
    .descpara{
        color: #606060;
        font-family: montserrat,sans-serif;
        font-size:12px;
        width: 100%;
        align-content: center;
    }
    .trustBadgeTitle {
        font-size: 10px;
    }
    
     .trustBaggeContainer .containerInner img {
        max-width: 30px;
        max-height: 30px;
        margin-bottom: 6px;
        color: #8f98a9;
        
    }
    .Heading{
        height: 30px;
        border-bottom: 4px solid rgb(255, 210, 50) !important;
    }
    /*
    .trustBaggeContainer .containerInner .trustBadgeTitle {
        font-family: montserrat-semibold,sans-serif!important;
        font-size: 8px!important;
        line-height: 12px!important;
        text-align: center;
    }
    .trustBaggeContainer .containerInner .trustBadgeTitle {
        color: #8f98a9;
        width: 50px;
    } */
    .pageView{
        margin-top: -53px;
    }
    .usp-wrapper{
        display: flex;
        gap: 30px;
        display: none;
    }
    .usp2-wrapper{
        display: flex;
        gap: 30px;
    }
    .usp-box{
        display: flex;
        flex-direction: column;
        width: 15rem;
        background: rgb(250, 249, 249);
        align-items: center;
        height: 7rem;
    }
    .usp_img{
        width: 66px;
    }
    
    /* popup body */
    .sizebutton 
    {
        background-color: rgb(66, 162, 162);
        padding: 19px;
        display: inline-flex;
        color: rgb(255, 255, 255);
        cursor: pointer;
        width: 100%;
        font-size: 0.9rem;
        line-height: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(66, 162, 162);
        zoom: 1;
        user-select: none;
        border-radius: 4;
        margin-top: 10px;
    }
    .seperate{
        width: 100%;
        border: 1px solid rgb(236, 233, 233);
        margin: 10px 0 20px;
    }
    .seperatefirst{
        width: 8%;
        border: 1.2px solid rgb(69, 69, 69);
        margin: 0 auto;
    }
    .change_background{
        background-color:black;
        color:white;
        padding: 10px 0;
        border:1px solid grey;
        border-radius: 5px;
        width: 48px;
    }
    .change_backgroundPrev{
        border:1px solid grey;
        color:grey;
        background-color: white;
        padding:10px 0;
        border-radius: 5px;
        width: 48px;
    }
    @media(max-width:992px){
        .MainWrpr{
            overflow-x: hidden;
        }
        .pageView{
            padding-left: 1rem;
            padding-right: 0;
        }
        .imageView{
            width: 50%;
            height: 9rem;
        }
    }
    @media(max-width:769px){
        .usp-wrapper{
            display: -webkit-inline-box;
            gap: 10px;
        }
        .MainWrpr{
            overflow-x: hidden;
        }
        .imgSlider {
            display:none
        }
        .pageView{
            padding: 0;
            flex-direction:column ;
            gap: 27rem;
        }
        .imageView{
            width: 100%;
            margin-top: 90px;
        }
        .aboutProduct{
            margin: 7px 12px;
        }
        .imageViewimg{
            height: 36rem;
            width: 100%;
        }
        .topheadContainer{
            display: none;
        }
        .p-add-bag{
            width: 49%;
            height: 40px;
        }
        .desc{
            width: 100%;
        }
        .descChild{
            gap: 75%;
        }
        .descpara{
            text-align: left;
        }
        .cardCode{
            gap: 21%;
            border-bottom: 1px solid #e3dfdf;
        }
        .sizeguide{
            gap: 29%;
        }
    }