.slider
{
    margin-top: 5%;
    overflow:hidden;
    position: relative;
}
.nextSlider{
    margin: -40px 183px 40px;
    overflow:hidden ;
    cursor: pointer;
    /* position: absolute;
    top: 10%;
    left: 5%; */
}
.thirdSlider{
    margin: -70px 20px 10px;
    overflow:hidden ;
    position: relative;
    /* position: absolute;
    top: 10%;
    left: 5%; */
}
.bestSlider
{
    margin: -90px 20px 10px;
    overflow:hidden ;
    position: relative;   
}

.designHeading
{
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.designContainer
{
    display: flex;
    /* height: 197px; */
    width: 100%;
    /* margin-bottom: 206px; */
}
.bewakoofOriginalSlider {
    margin-top: -52px;
    position: relative;
}
.sellerHeadeing
{
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-align: center;
}
.explore{
    color:#42a2a2;
    text-decoration:underline;
    cursor: pointer;
    text-align: left;
    margin-left: 20px;
}
.All-Eyes{
    display: block;
    width: 100%;
    padding-top: 10.4167%;
    position: relative;
    /* top: ; */
}
@media (max-width:991px) {
    .nextSlider{
        margin: -40px 0 40px;
        overflow:hidden ;
        cursor: pointer;
    }
    .sellerHeadeing{
        text-align: left;
        padding-left: 15px;
    }
}

@media (max-width:768px) {
    .nextSlider {
        margin: 0;
    }
    .All-Eyes{
        position: relative;
    }
    .bestSlider{
        margin: 0;
    }
    .bewakoofOriginalSlider{
        height: 175px;
    }
    .thirdSlider{
        margin: 0;
    }
    .sellerHeadeing{
        height: 2rem;
    }
}