
/* .slider{
     position: absolute;
    top: 140px;
    left: 0; 
} */
.card{
    padding: 6px;
}
.card:focus{
    outline: none;
}
.iconContainerNext{
    font-size: 19px;
    color: rgb(0, 0, 0);
    width: 47px;
    height: 47px;
    cursor: pointer;
    /* top: calc(50% - 25px); */
    top: 50%;
    right: 2%;
    z-index: 3;
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 11px;
}

.iconContainer {
    font-size: 19px;
    color: rgb(0, 0, 0);
    width: 47px;
    height: 47px;
    cursor: pointer;
    /* top: calc(50% - 25px); */
    top: 50%;
    left: 2%;
    z-index: 3;
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 10px;
}
.card span{
    font-size: 10px;
    word-wrap: break-all;
}
@media(max-width:768px)
{
    .iconContainerNext, .iconContainer{
        top: 35%;
    }
}