@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body ::selection {
  color: #fff;
  background: #fdd835;
  overflow: overlay;
}
*{
  box-sizing: border-box;
}